[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/AlphamaxMedia/litex.git
	branch = master
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/AlphamaxMedia/migen.git
	branch = master
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/AlphamaxMedia/litedram.git
[submodule "deps/litevideo"]
	path = deps/litevideo
	url = https://github.com/AlphamaxMedia/litevideo.git
	branch = tester-master
[submodule "deps/liteeth"]
	path = deps/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "deps/litescope"]
	path = deps/litescope
	url = https://github.com/AlphamaxMedia/litescope.git
	branch = add-trigger-depth
[submodule "deps/pyserial"]
	path = deps/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "deps/litesdcard"]
	path = deps/litesdcard
	url = https://github.com/AlphamaxMedia/litesdcard.git
	branch = master
[submodule "deps/liteiclink"]
	path = deps/liteiclink
	url = https://github.com/AlphamaxMedia/liteiclink.git
	branch = loopback-test
