[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/lukekras/litex.git
	branch = new-tapcfg-source
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/alphamaxmedia/migen.git
	branch = improve-gearbox-timing
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/alphamaxmedia/litedram.git
[submodule "deps/litevideo"]
	path = deps/litevideo
	url = https://github.com/alphamaxmedia/litevideo.git
[submodule "deps/liteeth"]
	path = deps/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "deps/litescope"]
	path = deps/litescope
	url = https://github.com/alphamaxmedia/litescope.git
	branch = add-trigger-depth
[submodule "deps/pyserial"]
	path = deps/pyserial
	url = https://github.com/pyserial/pyserial.git
